body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: url(../img/stJQW01mSPyPweAwjAqzIyNBmsW.webp) center/cover;
}

h1 {
    color: #800000;
}

.header {
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.header h2,
h4 {
    color: black;
}

.endpoint {
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border-left: 5px solid #333;
}

code {
    background: #eee;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}
